Repository HYF-Class20/agile-development-group3-loruki, pull requests merged in 2023-04, with the labels that each got.

#9 Constraints
  planning/constraints.md
  planning/user-personas.md
Labels: planning, team

#8 Add user personas
  planning/user-personas.md
Labels: communication, planning, team

#10 modified communication
  planning/communication.md
Labels: communication, planning, team

#13 Add development-strategy
  planning/development-strategy.md
Labels: communication, planning, team

#15 Retrospective
  planning/retrospective.md
Labels: communication, planning, team

#16 Readme
  README.md
  lokuri.png
Labels: communication, planning, team

#17 modified planning/backlog.md
  planning/backlog.md
Labels: communication, planning, team

#20 Wireframe
  planning/design.md
  wireframe.png
Labels: communication, planning, team

#21 Update development-strategy.md
  planning/development-strategy.md
Labels: documentation
